PORT=9000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=creatoo
DB_USER=creatoo
DB_PASS=j2FmQqZxbhNLky3yQ0R6

JWT_SECRET=supersecret
JWT_EXPIRES_IN=7d

INSTAGRAM_CLIENT_ID=746030041012041
INSTAGRAM_CLIENT_SECRET=b6765810f66a628e7bdfb9cca990876d
INSTAGRAM_REDIRECT_URI=https://portal.creatoo.co.in/api/instagram/callback

UPLOAD_DIR=public
PUBLIC_BASE_URL=http://localhost:9000

# ✅ MSG91 Configuration
MSG91_AUTHKEY=425877AQZakSpL66e83e1fP1
MSG91_TEMPLATE_ID_LOGIN=66e7fbd9d6fc052be67ea194
MSG91_SENDER_ID=CRETOO

# DigitalOcean Spaces / S3-compatible
S3_BUCKET=creatoos3
S3_REGION=blr1
S3_ENDPOINT=https://blr1.digitaloceanspaces.com
S3_ACCESS_KEY_ID=DO00AW2246PCFBYXL2TU
S3_SECRET_ACCESS_KEY=mTN5hKqaOM8JjzRlTsy2Tnnd9Qmqq/q3y8vfLqHgmF4

# Public base URL for your Space
S3_BASE_URL=https://creatoos3.blr1.digitaloceanspaces.com

# Razorpay (Test)
RAZORPAY_KEY_ID=rzp_test_QRN3MU56A6QLgI
RAZORPAY_KEY_SECRET=1BRPiBTs65KeudxYGmtaPirp
